/*Data such as themes and fonts calls*/
:root{
    --wp-bg: white;
    --link-color: #ff9100;
    --link-hover-color: #00aea5;
    --link-active: #1f3f97;
    --font-color: black;
}

[data-theme="dark"] {
    --wp-bg: black;
    --font-color: white;
}

*{
    box-sizing: border-box;
}
@font-face {
    font-family: 'Liberation Sans' ;
    src: url('https://www.juangames.com/media/fonts/LiberationSans-Regular.ttf');
}

@font-face {
    font-family: 'Liberation Sans Bold';
    src: url('https://www.juangames.com/media/fonts/LiberationSans-Bold.ttf');
}
@font-face {
    font-family: 'Liberation Serif';
    src: url('https://www.juangames.com/media/fonts/LiberationSerif-Regular.ttf');

}
@font-face {
    font-family: 'Liberation Serif Bold';
    src: url('https://www.juangames.com/media/fonts/LiberationSerif-Bold.ttf');

}

/*Mobile layout. Changes made here will only make effect
when the page has a lower resolution than the one set*/

@media only screen and (max-width:680px) {
    .main {
      width: 100% !important;
      border-right: none !important;
    }

    .sidebar{
        display: none !important;
    }

    .desktopmenu{
        display: none;
    }
    .mbmenuitem{
        background-color: #808080;
        width: 25%;
        height: 60px;
        font-family: 'Liberation Serif' !important;
        font-size: 19pt ;
        font-weight: bolder;
        overflow: hidden;
        background: #cfcfcf;
        border-left: solid 4px #adadad;
        border-top: solid 4px #adadad;
        border-right: solid 4px #6e6e6e;
        border-bottom: solid 4px #6e6e6e;
        float: left;
    }

    p{
        font-size: 13pt !important;
        font-family: 'Liberation Serif' !important;
    }

    h1, h2, h3, h4, h5, h6{
        font-family: 'Liberation Serif'!important;
    }
    h1{
        font-size: 23pt !important;
    }
    h2{
        font-size: 20pt;
    } 
    h3{
        font-size: 17pt;
    } 
    h4{
        font-size: 15pt;
    } 
    h5{
        font-size: 14pt;
    }
    h6{
        font-size: 13pt;
    }

    #ptitle{
        margin-top: 20px !important;
        margin-bottom: -5px;
    }
    
}

@media only screen and (min-width:679px){
    .mobilemenu{
        display: none;
    }
    .menuitem{
        width: 30%;
        font-size: 27pt !important;
    }

    #about{
        font-size: 25pt !important;
    }

    p{
        font-size: 17pt !important;
        font-family: 'Liberation Serif'!important;
    }

    li{
        font-size: 16pt;
        font-family: 'Liberation Serif';
    }
    h1, h2, h3, h4, h5, h6{
        font-family: 'Liberation Serif'!important;
    }
    h1{
        font-size: 40pt !important;
    }
    h2{
        font-size: 35pt;
    } 
    h3{
        font-size: 30pt;
    } 
    h4{
        font-size: 25pt;
    } 
    h5{
        font-size: 23pt;
    }
    h6{
        font-size: 20pt;
    }
    #ptitle{
        margin-top: 1px !important;
        margin-bottom: -5px !important;
    }
    
}


/*Menus stuff, font is on the item*/

.desktopmenu{
    background-color: #bbbbbb ;
    height: 61.5px;
    margin: 0px auto 40px auto;   
    width:95%;
    border-left: solid 3px #adadad;
   border-top: solid 3px #adadad;
   border-right: solid 3px #6e6e6e;
   border-bottom: solid 3px #6e6e6e;
}

.mobilemenu{
    background-color: #808080;
    height:60px;
    margin-bottom: 40px;
    width: 95%;
    margin: 0px auto 0px auto;
}

.menuitem, .dropbtn{
    background-color: #808080;
    width: 15%;
    height: 60px;
    font-family: 'Liberation Serif' !important;
    font-weight: bold;
    overflow: hidden;
    margin: -2.5px 1.3% 0px -2.1px;
    background: #cfcfcf;
    border-left: solid 4px #adadad;
    border-top: solid 4px #adadad;
    border-right: solid 4px #6e6e6e;
    border-bottom: solid 4px #6e6e6e;
    float: left;
    cursor: grab;
   
}
.dropbtn{
    width:136% !important;
}
.dropbtn:hover{
    border-bottom: none;
}
.dropitm{
    font-family: 'Liberation Serif';
    text-align: center;
    background-color: #cfcfcf;
    border-left: solid 4px #adadad;
    border-top: solid 4px #adadad;
    border-right: solid 4px #6e6e6e;
    border-bottom: solid 4px #6e6e6e;
}

#comm{
    font-size: 16pt;
    padding-left: 8%;
}

.menuitem:hover, .mbmenuitem:hover, .dropbtn:hover, .dropitm:hover{
    filter:brightness(90%) !important;
}
.menuitem:active, .mbmenuitem:active, .dropbtn:active, .dropitm:active{
    filter: brightness(80%) !important;   
    transform: translate(1px); 
    border-right: solid 2px #6e6e6e;
    border-bottom: solid 2px #6e6e6e;
}
.dropbtn:active{
   
    border-right: solid 2px #6e6e6e;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    margin-top:58px;
    font-family: menu;
    font-weight: bolder;
    font-size: 24pt;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width:133%;
    background: #cfcfcf; 
    float: left;
  }
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown:hover .dropdown-content {display: block;}
  

#about::before{
    content: 'About ↓'; 
}

#about:after{
    content: 'About ↑';
    display: none;
}

#about:hover:before{
    display:none;
    
}

#about:hover:after{
    display:block
}

/*Actual stuff*/
body{
    background-color: grey;
    padding: 20px 10px 10px 10px;
}

.wrapper{
    background-color: var(--wp-bg);
    border-radius: 20px;
    padding: 20px;
    max-width: 960px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;    
}

.banner{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 20px;
}

.main{
    width: 70%;
    float: left;
    padding: 0 20px 0px;
    margin-bottom: 20px;
    display: block;
    overflow: hidden;
    border-right: dotted 5px;
}

.sidebar{
    width: 30%;   
    float: right;
    padding: 20px 0px 20px 20px;
    overflow: hidden;
    display: block;
   
}

footer{
    text-align: center;
    height: 100%;
    padding-top: 20px;
    width: 100%;  
    overflow: hidden;
    border-top: dotted 5px;
}
/*This is the position of the darkmode switch, until
I find a way to make it work on multiple (static) pages
it will stay there.*/
.theme-switch-wrapper{
    float: right;
}

/*typography, u know the drill*/

p, h1, h2, h3, h4, h5, h6{
    color: var(--font-color);
   
}


/*Images on the main section, doesn not apply to,
let's say, the sidebar*/
.main img{
    margin-left: auto;
    margin-right: auto;
    width:98%;
}

.main img:hover{
    transform: scale(1.5);
}

/*Nutshell , project info at: https://ncase.me/nutshell */
.nutshell-bubble{
    border-radius: 0px;
    transition: none;
}

.nutshell-ball-up, .nutshell-ball-down{
    /* Placed to the left */
    position: absolute;
    display: inline-block;
    left: 1px;

    /* They're balls */
    width: 0.15em;
    height: 0.15em;
    background: #000;
    border-radius: 1em;

    /* Animate moving up & down */
    transition: none;
}